{% extends "base.html" %}
{% load widget_tweaks %}

{% block body %}

<div class="row">
    <h1>新規登録</h1>
</div>

<div class="row">
    <img id="preview" class="rounded mx-auto d-block" height="300" alt="選択された画像">

</div>


<form enctype="multipart/form-data" method="post" novalidate>{% csrf_token %}

    
    <div class="form-group">
        <div class="input-group">
            <label class="input-group-btn">
                <span class="btn btn-lg btn-primary">
                    Choose File{{form.photo|add_class:"form-control"|attr:"type:file"|attr:"id:file"|attr:"style:display:none"}}
                </span>
            </label>
        </div>
    </div>
    <div class="form-group">
        <label>品名</label>
        {{form.name|add_class:"form-control"}}
    </div>
    <div class="form-group">
        <label>シリアル</label>
        {{form.serial|add_class:"form-control"}}
        <input name="registered_by" maxlength="255" hidden required id="id_registered_by" value="{{user.get_username}}"">
    </div>

    <button type="submit" class="btn btn-primary">登録</button>
</form>


{% endblock %}

{% block script %}

<script>
$('#file').on('change', function (e) {
    var reader = new FileReader();
    reader.onload = function (e) {
        $("#preview").attr('src', e.target.result);
    }
    reader.readAsDataURL(e.target.files[0]);
});
</script>

{% endblock %}
